.container {
  background-color: url();
}

.letter-color {
  color: #ffffff;
}

.loginFormWrapper {
  width: 420px;
  min-height: 420px;
  background-color: #191919;
  padding: 26.6px 50px 43.7px;
  margin-right: auto;
  margin-left: auto;
}
